<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ordista</title>
     <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>

</head>
<body>
    <nav>
        <h2>ordista</h2>
        <input type="search" placeholder="Search...">
        <a href="/account"><i class="fas fa-user"></i></a>
        <a href="/cart"><i class="fas fa-shopping-cart"></i></a>

    </nav>
</body>
</html>